// Global styling for this template

body {
    padding-top: 54px;
    color: $gray-600;

    @media (max-width: 991px) {
        padding-top: 80px;
    }
}
@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-800;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

#app {
    overflow-y: hidden;
}

.subheading {
    font-family: $font-family-headings;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.35rem;
}

.list-social-icons {
    a {
        color: $gray-700;
        &:hover {
            color: $primary;
        }
        .fa-lg {
            font-size: 1.75rem;
        }
    }
}

.list-icons {
    font-size: 3rem;
    .list-inline-item i {
        &:hover {
            color: $primary;
        }
    }
}

svg {
    display: inline-block;
    box-sizing: content-box;
    height: 1.2em;
    vertical-align: -0.15em;
}
